<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>F2AT - 2013 Yahoo Hack Day</title>
    <link href="css/fixed-positioning.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="SecenH" data-0="" data-3000="" style="width:100%;height:100%;">
		<div id="bg" style="width:100%;height:100%;background:rgb(89,239,203);" data-0="top:-100%;" data-500="top:0%;"></div>
		<img data-0="" data-3000="" src="images/H/google earth_word.png"/>
		<div id="map3d" data-0="display:none;" data-500="display:block;top:200%;" data-1000="top:50%;" style="height:100%; width:100%;"></div>
		<div id="comment" data-0="top:45%;left:50%;display:none;" data-500="display:block;opacity:0;" data-1000="opacity:1;" ></div>
		<div id="comment_friends" data-0="top:25%;left:50%;display:none;" data-500="display:block;" ></div>

	</div>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/skrollr.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="dist/skrollr.ie.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/fake_data.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    var ge;
    function initialize() {
        var s = skrollr.init({ edgeStrategy: 'set' });
    }
    var scores = {
       "lat":25.057111,"lon":121.614302, "title":"Yahoo TW",
       "target":[
          {"lat":25.057111,"lon":121.614302,"title":"Yahoo TW","zoom":1, "altitude":50, "heading":0, "tilt":0, "range":0, "comment" : "YAHOO TW"},
          {"lat":22.278053,"lon":114.185225,"title":"Yahoo HK","zoom":1, "altitude":1520000, "heading":0, "tilt":0, "range":0, "comment" : "YAHOO HK"},
          {"lat":19.112412,"lon":72.860548,"title":"Yahoo Bangkok","zoom":1, "altitude":9520000, "heading":0, "tilt":0, "range":0, "comment" : "YAHOO Bangkok"},
          {"lat":51.514037,"lon":-0.128441,"title":"Yahoo UK","zoom":1, "altitude":19520000, "heading":0, "tilt":0, "range":0, "comment" : "YAHOO UK"},
          {"lat":37.416881,"lon":-122.025616,"title":"Yahoo US","zoom":1, "altitude":29520000, "heading":0, "tilt":1000, "range":0, "comment" : "YAHOO US"}
       ]
    }

    var tempLine;
    function setScore(score) {
        //console.log("score : " + score);
        var idx;
        if (score <= 20) {
            idx = 4;
        } else if (score <= 40) {
            idx = 3;
        } else if (score <= 60) {
            idx = 2;
        } else if (score <= 80) {
            idx = 1;
        } else {
            idx = 0;
        }
        if (idx != current_idx) {
            if (tempLine != null) {
            	ge.getFeatures().removeChild(tempLine);
            	tempLine = null;
            }
            current_idx = idx;
            var r = scores.target[idx];
            ge.getFeatures().appendChild(createMarker(scores.title, scores.lat, scores.lon));
            ge.getFeatures().appendChild(createMarker(r.title, r.lat, r.lon));
            tempLine = createLine(scores.lat, scores.lon, r.lat, r.lon);
            ge.getFeatures().appendChild(tempLine);
            changeLookAt(scores.lat, scores.lon, r);
            var c = scores.target[idx].comment;
        	$('#comment').html(c);
        }
    }

    function createLine(lat1, lon1, lat2, lon2) {
      // Create the placemark
      var lineStringPlacemark = ge.createPlacemark('');
      // Create the LineString
      var lineString = ge.createLineString('');
      // Add LineString points
      lineString.getCoordinates().pushLatLngAlt(lat1, lon1, 0);
      lineString.getCoordinates().pushLatLngAlt(lat2, lon2, 0);
      lineStringPlacemark.setStyleSelector(ge.createStyle(''));
      lineStringPlacemark.setGeometry(lineString);
      // Add the feature to Earth
      var lineStyle = lineStringPlacemark.getStyleSelector().getLineStyle();
      lineStyle.setWidth(5);
      lineStyle.getColor().set('9900ffff');  // aabbggrr format
      return lineStringPlacemark;
    }

    function createMarker(title, lat, lon) {
        var pmk = ge.createPlacemark('');
        pmk.setDescription(title);
        var point = ge.createPoint('');
        point.setLatitude(lat);
        point.setLongitude(lon);
        pmk.setGeometry(point);
        return pmk;
    }
    // Change the camera 
    function changeLookAt(lat, lon, s){
        var la = ge.createLookAt('');
        // latitude, longitude, altitude, altitudeMode, heading, tilt, range
        la.set(lat, lon, s.altitude, ge.ALTITUDE_RELATIVE_TO_GROUND, s.heading, s.tilt, s.range);
        ge.getView().setAbstractView(la);
    }

    google.load("earth", "1", {"other_params":"sensor=false"});
    function init() {
        google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
        ge = instance;
        ge.getWindow().setVisibility(true);
        initialize();
    }

    function failureCB(errorCode) { }

    google.setOnLoadCallback(init);

    var friend_num = 3; // TODO real data
    var score = (friend_num >= 3) ? 100 : friend_num * 33; // FIXME change the fomular
    set_friend_tag(friend_num);
    var earth_duration = 1000; // TODO
    var score_increasing_num = score / 1000; 
    var base_earth_start_time = 0;
    var earth_start_time = base_earth_start_time + 1000; // TODO
    var current_idx = -1 ;
    var word_interval = earth_duration / 5;

    $(window).scroll(function(){
        var s = $('body').scrollTop();
        if (s >= earth_start_time && s < earth_start_time + earth_duration) {
            setScore(((s - earth_start_time) / earth_duration) * score);
        }
    });

    function set_friend_tag(num) { //TOOD update interface
        var time_gap = Math.floor(earth_duration / num);
        for(var i = 0 ; i < num ; i++){
            var t1 = time_gap * i + earth_start_time;
            var t2 = time_gap * (i + 1) + earth_start_time;
            var div = $('<div class="friend" style="float:left;" ' + 
                'data-' + base_earth_start_time + '="display:none;"' + 
                'data-' + t1 + '="display:block;opacity:0;"' + 
                'data-' + t2 + '="opacity:1;" ><img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1117343_627742448_835827200_s.jpg"/></div>');
            div.appendTo('#comment_friends');
        }
    }
    </script>
</body>

</html>
