<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>F2AT - 2013 Yahoo Hack Day</title>
    <link href="css/fixed-positioning.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="map3d" data-0="" data-3000="" style="height: 100%; width: 95%;"></div>
    <div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div>

    <div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/skrollr.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="dist/skrollr.ie.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/fake_data.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </script>
    <script type="text/javascript">
    var s = skrollr.init({ edgeStrategy: 'set'});
    var ge;
    function initialize() {
        $.getJSON("js/fake_location.json", function(json) {
            var geo = json;
            var lat = geo.main.latitude;
            var lon = geo.main.longitude;
            //setScore(Math.random()*100);
            setScore(69);
            var s = skrollr.init({ edgeStrategy: 'set' });
        });
    }
    // TODO adjust this args.
    var scores = {
       "lat":25.057111,"lon":121.614302, "title":"Yahoo TW",
       "target":[
          {"lat":25.057111,"lon":121.614302,"title":"Yahoo TW","zoom":1, "altitude":50, "heading":0, "tilt":0, "range":0},
          {"lat":22.278053,"lon":114.185225,"title":"Yahoo HK","zoom":1, "altitude":1520000, "heading":0, "tilt":0, "range":0},
          {"lat":19.112412,"lon":72.860548,"title":"Yahoo Bangkok","zoom":1, "altitude":9520000, "heading":0, "tilt":0, "range":0},
          {"lat":51.514037,"lon":-0.128441,"title":"Yahoo UK","zoom":1, "altitude":19520000, "heading":0, "tilt":0, "range":0},
          {"lat":37.416881,"lon":-122.025616,"title":"Yahoo US","zoom":1, "altitude":29520000, "heading":0, "tilt":0, "range":0}
       ]
    }

    function setScore(score) {
        // TODO clear markers
        console.log("score : " + score);
        var idx;
        if (score <= 20) {
            idx = 4;
        } else if (score <= 40) {
            idx = 3;
        } else if (score <= 60) {
            idx = 2;
        } else if (score <= 80) {
            idx = 1;
        } else {
            idx = 0;
        }
        var r = scores.target[idx];
        ge.getFeatures().appendChild(createMarker(scores.title, scores.lat, scores.lon));
        ge.getFeatures().appendChild(createMarker(r.title, r.lat, r.lon));
        createLine(scores.lat, scores.lon, r.lat, r.lon);
        changeLookAt(scores.lat, scores.lon, r);
    }

    function createLine(lat1, lon1, lat2, lon2) {
      // Create the placemark
      var lineStringPlacemark = ge.createPlacemark('');
      // Create the LineString
      var lineString = ge.createLineString('');
      // Add LineString points
      lineString.getCoordinates().pushLatLngAlt(lat1, lon1, 0);
      lineString.getCoordinates().pushLatLngAlt(lat2, lon2, 0);
      lineStringPlacemark.setStyleSelector(ge.createStyle(''));
      lineStringPlacemark.setGeometry(lineString);
      // Add the feature to Earth
      var lineStyle = lineStringPlacemark.getStyleSelector().getLineStyle();
      lineStyle.setWidth(5);
      lineStyle.getColor().set('9900ffff');  // aabbggrr format
      ge.getFeatures().appendChild(lineStringPlacemark);
    }

    function createMarker(title, lat, lon) {
        var pmk = ge.createPlacemark('');
        pmk.setDescription(title);
        var point = ge.createPoint('');
        point.setLatitude(lat);
        point.setLongitude(lon);
        pmk.setGeometry(point);
        return pmk;
    }
    // Change the camera 
    function changeLookAt(lat, lon, s){
        var la = ge.createLookAt('');
        // latitude, longitude, altitude, altitudeMode, heading, tilt, range
        la.set(lat, lon, s.altitude, ge.ALTITUDE_RELATIVE_TO_GROUND, s.heading, s.tilt, s.range);
        ge.getView().setAbstractView(la);
    }

    google.load("earth", "1", {"other_params":"sensor=false"});
    function init() {
        google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
        ge = instance;
        ge.getWindow().setVisibility(true);
        initialize();
    }

    function failureCB(errorCode) { }
    google.setOnLoadCallback(init);
    </script>
</body>

</html>
