<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>F2AT's 2013 Yahoo Hack Day</title>
	<link href="css/fixed-positioning.css" rel="stylesheet" type="text/css" />
	<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>	
<script type="text/javascript" src="js/side-nav.js"></script>	
<script type="text/javascript" src="js/skrollr.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/skrollr.ie.min.js"></script>
	<![endif]-->
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
 // initialize the library with the API key
FB.init({ appId:'1383684991869529' });
// fetch the status on load
FB.getLoginStatus(handleSessionResponse);
function facebook_login(){
	FB.login(handleSessionResponse, { scope: "email" });	
}
function facebook_logout(){
	FB.logout(handleSessionResponse);
}
// handle a session response from any of the auth related calls
function handleSessionResponse() {
  FB.api('/me', function(response) {
      console.log(response);
     /* $('#user-info').html(response.id + ' - ' + response.name);*/
  });
  FB.Event.subscribe("auth.logout", function() {
       window.location = '/'
     });

  FB.getLoginStatus(function (response) {
      if (response.status === "connected") {
		$("#facebook_login").hide();
      	$("#log-in_ok").show();
      	$('#facebook_logout').show();
      	window.scrollTo(0, 400);

        /*   var uid = response.authResponse.userID;
          var accessToken = response.authResponse.accessToken;  
          var tokenInfo = {'uid':uid, 'accessToken':accessToken};
          $.ajax({
            type: 'POST',
            data:{
              tokenInfo:tokenInfo
            },
            url: '/auth/fbLogin',            
            success: function(data) {
              console.log('success');
              console.log(JSON.stringify(data));
            }
          });*/
      } else if (response.status === "not_authorized") {
          
      } else {  
        
      }
  });
}

var font_sceneD_peoples= "228";
$( document ).ready(function() {
   	$("#font_sceneD_peoples").html(font_sceneD_peoples);
	var num_x = 3;
	var num_y = 3;
    var num = num_x * num_y;
    var init_x = 14;
    var init_y = 10;
    var init_t1 =1200;
 	var init_t2 =1500;
   // <div class="drop" data-6500="left:15%;bottom:100%;" data-9500="bottom:0%;">linear</div>
   var action_order=[0, 1, 2, 5, 4, 3, 6, 7, 8];
   var file_name=["125_box.png", "chefinstyle.png", "digitalair.png","gwangdean.png",
   "hlaf.png", "julia.png", "Leonardo.png", "ling.png", "ZHANG.png"]
 	for (var q = 0 ; q < num ; q ++) {
 		i=action_order[q]
 		t1 =init_t1+150*q;
 		t2 =init_t2+150*q;
 		var x, y;
 		if(i % 3 ==1){
 			x= init_x + 25;
 		}
 		else if(i % 3 == 2){
 			x= init_x + 50;
 		}else{
 			x= init_x; 
 		}

 		if(i < 3){
 			y= init_y; 
 		}else if( i >= 3 && i < 6){
 			x += 12;
 			y= init_y+30;
 		}else{
 			y= init_y+60;
 		}
 		duration = 3000;
 		random_deg = Math.floor((Math.random()*90)+1);
        var div = $(' <div class="drop exhibition" ' + 'data-' + t1 + '="transform:scale(0) rotate(' + random_deg + 'deg); opacity:0;" ' + 'data-' + t2 + '="transform:scale(1) rotate(0deg);opacity:1;left:' + x + '%;top:' + y + '%;" data-' + duration + '=""><div id="exhibition_photo_'+i+'"></div></div>');
         div.appendTo('#sceneB');
 	}

 	 var sceneE_action_order=[0, 4, 8, 12, 9, 5, 1, 2, 6, 10, 13, 11, 7, 3]
 	$.ajax({
 		async:false,
		type: 'POST',
		data:{
		  fileName:"flickr_geo.json" // TODO replace the real data
		},
		url: '/flickr/readFile',            
		success: function(res) {
			init_t1= 10500;
			init_t2= 10900;
			var duration= 4000;

		    var flickr = {};
		    flickr.categories = 'private public'.split(' ');
		    flickr.getRandom = function( property ) {
		      var values = flickr[ property ];
		      return values[ Math.floor( Math.random() * values.length ) ];
		    };

		    var row_1_x = [12, 32, 54, 72]
		    var row_1_y = [4, 4, 4, 4]
		    var row_2_x = [11, 32, 53, 71]
		    var row_2_y = [28, 29, 29, 28]
		    var row_3_x = [12, 32, 52, 72]
		    var row_3_y = [52, 53, 52, 53]
		    var row_4_x = [12, 52]
		    var row_4_y = [75, 76]


		    for(var q=0; q<14 ; q++){
		    	i= sceneE_action_order[q];
		    	t1 =init_t1;
 				t2 =init_t2+150*q;
 				var x, y;
 				if(i >= 4 && i<8){
 					x=row_2_x[i-4];	
 					y=row_2_y[i-4];	
 				}
 				else if(i >= 8 && i<12){
 					x=row_3_x[i-8];	
 					y=row_3_y[i-8];	
 				}
 				else if(i >= 12 && i<14){
 					x=row_4_x[i-12];	
 					y=row_4_y[i-12];	
 				}
 				else{
 					x=row_1_x[i];	
 					y=row_1_y[i];	
 				}
		        //className = flickr.getRandom('categories');
		        var className = "public";
		        if(i==9 || i==11){
		        	className="private";
		        }
		        var div= $(' <div class="'+className+'"' + 'data-' + t1 + '="left:' + x + '%;top:' + y+100 + '%;" ' + 'data-' + t2 + '="left:' + x + '%;top:' + y + '%;" data-' + duration + '=""><img class="exhibition_photo" src="'+res.imgUrl[i]+'"/></div>');
				div.appendTo('#sceneE_photo_gallery');
		    }
		}
	});

	function gen4foot(x, y ,t1, t2, addTo) {
            var div = $('<div ' + 
                'data-' + t1 + '="transform:scale(1);opacity:0;left:' + x + '%;top:' + y + '%;"' + 
                'data-' + t2 + '="transform:scale(1);opacity:1;" data-' + duration + '=""><img src="images/D/Footprint.png"/></div>');
            div.appendTo(addTo);
            var div = $('<div ' + 
                'data-' + t1 + '="transform:scale(1) rotate(180deg);opacity:0;left:' + x + '%;bottom:' + y + '%;"' + 
                'data-' + t2 + '="transform:scale(1) rotate(180deg);opacity:1;" data-' + duration + '=""><img src="images/D/Footprint.png"/></div>');
            div.appendTo(addTo);
            var div = $('<div ' + 
                'data-' + t1 + '="transform:scale(1) rotate(270deg);opacity:0;left:' + y + '%;bottom:' + x + '%;"' + 
                'data-' + t2 + '="transform:scale(1) rotate(270deg);opacity:1;" data-' + duration + '=""><img src="images/D/Footprint.png"/></div>');
            div.appendTo(addTo);
            var div = $('<div ' + 
                'data-' + t1 + '="transform:scale(1) rotate(90deg);opacity:0;right:' + y + '%;bottom:' + x + '%;"' + 
                'data-' + t2 + '="transform:scale(1) rotate(90deg);opacity:1;" data-' + duration + '=""><img src="images/D/Footprint.png"/></div>');
            div.appendTo(addTo);
	}
	function add_foot(num) {
		var duration = 1600;
		var MAX_FOOT = 10;
        var baseTime = 5800;
        var range = 1000;
        var section_num = Math.floor(num / 4);
        if (section_num > MAX_FOOT) {
        	section_num = MAX_FOOT; // limit the foot number.
        }
        var interval = Math.floor(duration/section_num);
		var gap = 50 / section_num;
        for (var i = 0 ; i < section_num ; i++) {
            var t1 = interval * i + baseTime;
            var t2 = t1 + interval;
            var r = (Math.random()>=0.5) ? Math.floor(Math.random() * 3) : Math.floor(Math.random() * 3) * -1;
            var x1 = 48 + r;
            var y1 = gap * i;
            gen4foot(x1, y1, t1, t2, '#sceneD');
        }
	}
	add_foot(100); // FIXME add real data  	
    play_next_loop();
    //TODO: modified to real UI
});

function play_next_loop() {
    $("#play_next").animate({opacity: 1.0}, {duration: 350})
        .animate({opacity: 0}, {duration: 350})
        .animate({opacity: 1.0}, {duration: 350, complete: play_next_loop})
}
</script>
<style>

header[role=banner] {
position: fixed;
top: 0;
width: 100%;
height: 10%;
z-index: 1000;
text-align: center;
overflow: hidden;
cursor: pointer;
}

#sceneA {
	left:0;
	width:100%;
	height:768px;
	background:url(images/A/bg.jpg);
	background-size:100%;
    background-repeat:no-repeat;
    text-align: center;
    vertical-align:middle
}

#sceneB {
	width:100%;
	height:100%;
	background:url(images/B/bg.jpg);
	background-size:100%;
    background-repeat:no-repeat;
    text-align: center;
    vertical-align:middle;
}

#sceneC {
	width:100%;
	height:100%;
    text-align: center;
    vertical-align:middle;
}

#sceneD {
    width:100%;
    height:100%;
    background:url(images/D/bg.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    text-align: center;
    vertical-align:middle;
}

#sceneE {
	left:0;
	width:100%;
	height:100%;
	background:url(images/E/bg.png);
	background-size:100%;
    background-repeat:no-repeat;
    text-align: center;
    vertical-align:middle;
}

#sceneF {
	width:100%;
	height:100%;
	background: url('images/F/quote_bg.png');
	background-size:100%;
    background-repeat:no-repeat;
    text-align: center;
    vertical-align:middle
}

div.public {
	width:280px;
	height:222px;
	background:url('../images/E/Frame.png');
	background-size:100%;
    float:left;
}
div.private {
	width:280px;
	height:222px;
	background-image:url('../images/E/Frame_friend.png');
	background-size:100%;
    float:left;
}

img.exhibition_photo{
	width:235px;
	height:160px;
	margin: 22px 0 5px 0;
	position: relative;	
}
</style>

</head>
<body>
<header role="banner">
	<div data-0="display:none;" data-1200="display:block;" style="width:100%; z-index:-1;">	
		<a href="#"><img src="images/icons/art.png"/></a>
	</div>
</header>
<div style="text-align:right;">
	<input type="image" id="top_fb" src="images/A/top_fb.png"/>
	<input type="image" id="top_Tweets" src="images/A/top_Tweets.png"/>
	<input type="image" id="facebook_logout" src="images/log-out.png" style="display:none" onclick="facebook_logout()"/>
</div>
<div>
	<ul id="nav">
		<li>
			<div onclick="window.scrollTo(0, 0); return false;">
				<a id="a_A">A</a>
			</div>
		</li>
		<li>
			<div onclick="window.scrollTo(0, 1200); return false;">
				<a id="a_B">B</a>
			</div>
		</li>
		<li>
			<div onclick="window.scrollTo(0, 6300); return false;">
				<a id="a_D">D</a>
			</div>
		</li>
		<li>
			<div onclick="window.scrollTo(0, 10500); return false;">
				<a id="a_E">E</a>
			</div>
		</li>
		<li>
			<div onclick="window.scrollTo(0, 14000); return false;">
				<a id="a_F">F</a>
			</div>
		</li>
		<li>
			<div onclick="window.scrollTo(0, 17600); return false;">
				<a id="a_G">G</a>
			</div>
		</li>
		<li>
			<div">
				<a id="a_I">I</a>
			</div>
		</li>
	</ul>
</div>
<div id="sceneA" data-0="opacity:1;top:4%;" data-900="top:4%;" data-1200="top:-100%;">
	<!--Scene A Content-->
	<div style="width:100%;height:565px; margin-top:15%;">		
		<img id="logo" src="images/A/logo.png"><br/>
		<img src="images/A/word.png"><br/><br/><br/>
		<input type="image" id="facebook_login" src="images/A/log-in.png" onclick="facebook_login()"/>
 		<img id="log-in_ok" src="images/A/log-in_ok.png" style="display:none"/>
 		<div data-0="transform:rotate(0deg);transform-origin:center;" data-350="transform:rotate(180deg);bottom:-3%" style="width:100%">
            <img src="images/A/play.png"/> 
        </div>
	</div>
    <div data-0="display:none;" data-350="display:block;bottom:-6%" data-850="display:none;" style="width:100%;">
        <img id="play_next" src="images/A/play_next.png"/> 
    </div>
    <div data-0="display:none;" data-750="display:block;opacity:1;bottom:0%" data-900="bottom:-16%" data-1159="margin-top:0px;opacity:0.3" data-1200="display:none;" style="width:100%;z-index:-1;">
        <img id="triangle" src="images/B/Triangle.png"/> 
    </div>
</div>

<div id="sceneB" data-900="top:100%;" data-1200="top:0%;z-index:-1" data-1400="display:block;z-index:0" data-3400="top:0%;" data-3600="top:-100%;display:none;">

</div>

<div id="sceneC" data-0="display:none;" data-3500="display:block;bottom:-30%" data-5500="bottom:0%" data-6000="display:none;">
	<div data-3800="bottom:-20%"data-5000="bottom:0%;right:0;margin-bottom:120px;">
		<img src="images/C/C_a.png">
	</div>
	<div data-4200="bottom:-20%" data-5400="bottom:0%; margin-left:15%; margin-bottom:182px;">
		<img src="images/C/C_b.png">
	</div>
</div>

<div id="sceneD" data-6000="top:100%;" data-6100="top:0%;" data-6300="display:block;" data-7900="top:0%;"data-10000="bottom:50%;" data-10300="top:-100%;display:none;">  
        
        <div class="drop" data-0="transform:scale(1); left:45%; top:42%;" data-8900="transform:scale(1);" data-9800="transform:scale(12);bottom:100%" style="position:absolute;">
            <img src="images/D/bg_s.png"/>
        </div>
        <div class="drop" data-0="display:none;" data-8100="display:block;bottom:-20%" data-8500="bottom:0%" style="position: absolute; right: 5px; bottom: 5px">
             <img src="images/D/other_people.png"/>
        </div>
        <div data-0="display:none;" data-8500="display:block;bottom:-180px" data-8900=" right:70px; bottom:60px" style="position: absolute;">
	        <font id="font_sceneD_peoples" style="font-family: 'Sintony', sans-serif; color:#FFFFFF; font-size:100px"></font>
   		</div>
</div>
<div id="sceneE" data-0="display:none;" data-10300="display:block;" data-13800="top:0%;" data-14000="top:-100%;display:none;"> 
	<div id="sceneE_photo_gallery" style="margin:0 auto;width:80%; height:80%">

	</div>
</div>

<div id="sceneF" data-0="display:none;" data-14000="display:block;bottom:-30%" data-14500="bottom:0%" data-17500="display:none;">
	<div id="SceneF_bg" data-14000="opacity:0;" data-14200="opacity:1;" data-17000="" style="width:100%; height:100%; background: url('images/F/quote_1.png'); background-size:72%; background-repeat:no-repeat;margin-left:10%">
	</div>
	<div data-14000="right:400px; top:100px" data-17000=""><font id="time_display" style="font-family: 'arial',font-weight: bold; font-size:32px"></font></div>
	<div data-14000="top:19%;left:300px" data-500="opacity:1;" data-17000="">
		<font id="news_title" style="font-size:30px; font-family:arial;font-weight: bold;"></font>
	</div>
</div>

<div id="sceneG" style="width:100%; height:100%" data-0="display:none" data-17500="display:block;background:rgb(197,242,255);" 
		data-19500="background:rgb(197,242,0);">
		<div id="circle" style="width:600px; height:600px; background: url(images/G/G_Circle_bg.png)" data-17500="transform:scale(0.2);top:5%;left:20%;" 
		data-19500="transform:scale(1);">		
			<img src="images/G/G_Circle_bg.png"/>
		</div>
		<div style="width: 600px;
			    height: 600px;
			    -webkit-border-radius: 300px;
			    -moz-border-radius: 300px;
			    border-radius: 300px;" data-17500="transform:scale(0.2);background:rgb(225, 225, 225);top:8%;left:22%;" data-19500="transform:scale(1);background:rgb(0,225,225);">
			<div data-17500="" data-19500="margin-top:100px; margin-left:30px"><font id="score" style="font-family: 'Sintony', sans-serif; color:#FFFFFF; font-size:420px"></font></div>
		</div>

		<div id="spacer" style="height:20px; background-color:white; margin-top:20%;-webkit-transform: rotate(3deg);"></div>

		<div data-17500="top:15%;left:40%;" data-19500="top:39%;left:60%;"><img src="images/G/G_word.png"></div>	
</div>

<script type="text/javascript">
	// TODO adjust the real positions
	var position = [
		{'x':16,'y':48},
		{'x':16,'y':78},
		{'x':16,'y':96},
		{'x':50,'y':56},
		{'x':50,'y':69},
	];
	function append_news(t, x, y, duration) {
		var div = $('<div data-' + (t-1) +'="opacity:0" ' + 
                'data-' + t + '="opacity:1;left:' + x +'%;top:'+ y +'%;" ' + 
                'data-' + duration + '="" ><font class="news" style="font-size:16px; font-family: arial;font-weight: bold;"></font></div>');
       	div.appendTo('#sceneF');
	}
	var MAX_NEWS_NUM = 5;
	var json_news;
	var title;
    var title_animation_duration = 500;
    var title_gap;
    var news_anim_duration = 1000;
    var news_gap = 0;
    function generate_news(json) {
    	news_gap = news_anim_duration / get_max_text_size(json);
    	title = '國家地理125年經典影像大展'; // TODO replace the real data
    	title_gap = title_animation_duration / title.length
        var duration = 3500;
        var base_time = 14000;
        var range = 1000;
        var num_y = 3;
        var num_x = 3;
        var num = num_x * num_y;
        var interval = Math.floor(duration / num);
        var gap_y = 100 / num_y;
        var gap_x = 100 / num_x;
        var max_num = (MAX_NEWS_NUM < json.length) ? MAX_NEWS_NUM : json.length;
        for (var i=0 ; i < max_num ; i++) {
            var t = interval * i;
            var x = position[i].x;
            var y = position[i].y;
            append_news(base_time+t, x, y, duration);
        }
        json_news = json;
    }

    function get_max_text_size(json) {
    	var max = 0;
    	for(var i in json) {
    		var s = json[i].title;
    		if (max < s.length) {
    			max = s.length;
    		}
    	}
    	return max;
    }

    function update_news_time() {
        var d = new Date(); 
        var datetime = d.getDate() + "/"
                + (d.getMonth()+1)  + "/" 
                + d.getFullYear() + " @ "  
                + d.getHours() + ":"  
                + d.getMinutes() + ":" 
                + d.getSeconds() + ":"
                + d.getMilliseconds();
        var datetime = d.getFullYear()+"年 "
        			+ (d.getMonth()+1)+"月"
        			+ d.getDate()+"日 "
        			+ d.getHours() + ":"  
	                + d.getMinutes() + ":" 
	                + d.getSeconds() + ":"
	                + d.getMilliseconds();

        $('#time_display').html(datetime);
    }
    // for popular
    var score = 60; // FIXME replace real data
    var duration = 2000;
    var score_interval = Math.round(duration / score);
    var score_start_time = 17500;

    window.setInterval(function(){update_news_time()}, 100);
    $.getJSON("js/test_news.json", function(json) {
        generate_news(json);
        var s = skrollr.init({ edgeStrategy: 'set' });
    });
    
    $(window).scroll(function(){
    	var s = $('body').scrollTop();
    	if( s >= 14200 && s < 15000){
    		var idx = Math.round((s - 14200) / title_gap);
    		$('#news_title').html(title.substring(0, idx));
    	} else if ( s >= 15000 && s < 18500) {
    		var idx = Math.round((s - 15000) / news_gap);
    		$('.news').each(function(id) {
    			var s = json_news[id].title;
    			$(this).html(s.substring(0, idx));
    		});
    	} else if( s >= score_start_time && s < 19500){
    		var display_score = Math.round((s - score_start_time) / score_interval);
    		$('#score').html(display_score);
    	}
    });
	</script>

<script>
 $(function(){
        $( "#go" ).mousedown(function() {
             document.getElementById("go").src = "images/B/go_2.png";
        });
         $( "#go" ).mouseup(function() {
            document.getElementById("go").src = "images/B/go.png";  
            $("#sceneE").show();
            window.scrollTo(0, 4000);
        });
 });
 </script>
</body>
</html>
