<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>F2AT - 2013 Yahoo Hack Day</title>
    <link href="css/fixed-positioning.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="popular" style="width:100%; height:100%" data-0="background:rgb(225,225,225);" 
		data-2000="background:rgb(0,225,225);">
		<div id="circle" style="width:600px; height:600px; background: url(images/G/G_Circle_bg.png)" data-0="transform:scale(0.1);top:0%;left:10%;" 
		data-2000="transform:scale(1);">
			
			<img src="images/G/G_Circle_bg.png"/>
			
			<div style="width:90%; height:90%; position:absolute; margin-bottom:-100px" data-0="background:rgb(197,242,255);" data-2000="background:rgb(197,242,0);">
				
				<div id="score" data-0="" data-2000=""></div>
			</div>
		</div>
		<div id="spacer" style="height:20px; background-color:white; margin-top:20%;-webkit-transform: rotate(3deg);"></div>

		<div data-0="top:35%;left:35%;" data-2000="top:35%;left:55%;"><img src="images/G/G_word.png"></div>
		
	</div>
	
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/skrollr.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="dist/skrollr.ie.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    	skrollr.init({ 
    		edgeStrategy: 'ease'
    	});
    	var score = 60;
    	var duration = 2000;
    	var score_interval = Math.round(duration / score);
    	var score_start_time = 0;
    	$(window).scroll(function(){
    		var s = $('body').scrollTop();
    		if( s >= score_start_time && s < 2000){
    			var display_score = Math.round((s - score_start_time) / score_interval);
    			console.log("display score " +display_score);
    			$('#score').html(display_score);
    		}
    	});
    </script>
</body>

</html>
